<form action="/random/result">
  <label for="min">Minimum</label>
  <input id="min" type="text" name="user_min" placeholder="1">

<label for="max">Maximum</label>
  <input id="max" type="text" name="user_max" placeholder="10">
  <button>Pick random number</button>
</form>
